.question__container {
  width: 60rem;
  height: max-content;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem 5rem;
  align-items: flex-start;
  gap: 3rem;
  border-radius: 20px;
  box-shadow: var(--shadow-card);

  @media screen and (max-width: 425px) {
    width: 100%;
    padding: 2rem 2rem;
  }

}

.question__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;


  .timer {
    padding: .6rem .8rem;
    border-radius: 100px;
    color: rgb(46, 135, 255);
    background-color: rgba(136, 182, 250, 0.5);
  }

}

.question__body {
  width: 100%;


  .question__text {
    font-size: 3rem;

    @media screen and (max-width: 425px) {
      font-size: 2rem;
    }
  }

  .question__options {
    text-decoration: none;
    list-style: none;
    width: 100%;
    font-size: 1.5rem;
    height: 30%;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    li {
      background-color: rgba(136, 182, 250, 0.1);
      width: 100%;
      padding: 1rem;
      border: 1px solid #9bacc6;
      border-radius: 10px;
      transition: all .3s;
      //cursor: not-allowed;

      &:hover {
        background-color: rgba(136, 182, 250, 0.3);
        border: 1.5px solid #347ee4;
        transform: translateY(-2px);
        box-shadow: var(--shadow-sm);
      }

      &.active {
        background-color: rgba(136, 182, 250, 0.3);
        border: 1.5px solid #347ee4;
        transform: translateY(-2px);
        box-shadow: var(--shadow-sm);
      }
    }

  }
}

.question__btn__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.question__btn {
  height: 3rem;
  width: 7rem;
  font-size: 1.7rem;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-white);
  //cursor: not-allowed;
  //opacity: .8;
  //pointer-events: none;
  transition: all .3s;
}

#btn-previous {
  width: 8rem;
}

.li-disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.finalBox {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .pill {
    font-size: 2rem;
  }

  a {
    margin-top: 1rem;
    text-align: center;
    padding: .2rem .4rem;
    font-size: 2rem;
    text-decoration: none;
    color: rgb(46, 135, 255);
    background-color: rgba(136, 182, 250, 0.5);
    border-radius: 5px;
  }

  .final-score {
    color: rgb(46, 135, 255);
    font-size: 4rem;
  }

}

.pill {
  padding: .6rem .8rem;
  border-radius: 100px;
  //color: #00c6ff;
  color: rgb(46, 135, 255);
  background-color: rgba(136, 182, 250, 0.5);
  //background-color: #b9e8f6;
}
