.diff__container {
  width: 100svw;
  height: 90svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.diff__container__inner {
  width: 40%;
  min-height: min-content;
  max-height: max-content;
  //height: max-content;
  background-color: var(--bg-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  padding: 4rem 2rem;
  gap: 3rem;

  @media screen and (max-width: 1440px) {
    height: max-content;
  }

  @media screen and (max-width: 1024px) {
    height: max-content;
    width: 50%;
  }

  @media screen and (max-width: 768px) {
    height: 80%;
    width: 70%;
  }

  @media screen and (max-width: 450px) {
    height: 100%;
    width: 100%;
    padding: 7rem 0.8rem;
  }
}

.diff__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;

  .subject__detail {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;

    .subject__name {
      font-size: 3rem;
    }

    svg {
      height: 6rem;
      width: 6rem;
      color: var(--primary-color);
    }
  }

  p {
    font-size: 1.2rem;
    color: var(--text-muted);
  }
}

.diff__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 2rem;

  @media screen and (max-width: 450px) {
    width: 100%;
  }

  .diff__card {
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
    //gap: 2rem;
    width: 100%;
    border-radius: 5px;
    border: 2px solid var(--border-light-gray);
    transition: all .3s ease;
    cursor: pointer;

    @media screen and (max-width: 450px) {
      height: 100%;
      width: 100%;
      //padding: 1rem 1rem;
    }

    &__icon {
      font-size: 3rem;
      margin-right: 2rem;
    }

    &__text {

      h3 {
        font-size: 1.5rem;
        transition: all .3s;
      }

      p {
        color: var(--text-muted);
      }

      @media screen and (max-width: 320px) {
        width: 70%;
      }
    }

    &__PTS {
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      gap: .2rem;
      margin-left: auto;
      width: max-content;

      @media screen and (max-width: 450px) {
        text-align: right;
      }

      @media screen and (max-width: 320px) {
        font-size: 1.1rem;
        width: 15rem;
      }

      &__time {
        align-self: flex-end;
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 0.75);

        @media screen and (max-width: 320px) {
          font-size: 1rem;
        }

      }
    }

    &--Easy {
      &:hover {
        transform: translateY(-2px);
        //box-shadow: var(--shadow-green);
        border: 2px solid var(--hover-green);

        h3 {
          color: var(--hover-green);
        }
      }
    }

    &--Medium {
      &:hover {
        transform: translateY(-2px);
        box-shadow: var(--shadow-card);
        border: 2px solid var(--hover-yello);

        h3 {
          color: var(--hover-yello);
        }
      }
    }

    &--Hard {
      &:hover {
        transform: translateY(-2px);
        box-shadow: var(--shadow-card);
        border: 2px solid var(--hover-red);

        h3 {
          color: var(--hover-red);
        }
      }
    }

  }
}