//this is main container of form
.login__container {
  //background-color: #F0F2F5;
  //background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  //background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
}

//this is for login and sign in btns at top and tabs is parent element
.tabs {
  display: flex;
  height: 6rem;
  width: 35rem;
  gap: 2rem;
  justify-content: center;
  border-radius: 50px;
  align-items: center;
  background-color: rgba(79, 172, 254, 0.15); /* Low opacity blue */

  //this is for login and sign btns
  .form__btn {
    border: none;
    width: 16rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: #555555;
    background-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;

    //this is for login and sign btn on focus no outline
    &:focus {
      outline: none; //no outline
    }


  }
}

//this is for login ,sign in and parent .tabs div when active change color
.btn--active {
  background-color: #FFFFFF;
  border-radius: 50px;

  button {
    color: #ffffff !important;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    box-shadow: 0 4px 15px rgba(0, 242, 254, 0.4); /* Soft glow */
    border-radius: 50px;
    border: none;
    font-weight: 600;
  }
}

//this is for whole login tab container
.login__box {
  max-height: 70%;
  width: 35%;
  background: rgba(255, 255, 255, 0.85); /* 85% opacity */
  backdrop-filter: blur(10px); /* The "Frosted" blur effect */
  border: 1px solid rgba(255, 255, 255, 0.4); /* Subtle border */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1300px) {
    width: 40%;
  }

  @media screen and (max-width: 1000px) {
    width: 50%;
  }

  @media screen and (max-width: 750px) {
    width: 60%;
  }

  @media screen and (max-width: 600px) {
    width: 80%;
  }

  @media screen and (max-width: 450px) {
    width: 100%;
  }

  //if we want to add image at left side use this
  //&__img {
  //  height: 100%;
  //  width: 40%;
  //  border-right: 1px solid black;
  //}

  //this is for forms in login box container
  &__frm {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: space-between;
    padding: 3rem;
  }
}

//this is forms main div of both sign and login form
.forms {
  margin-top: 4rem;
  width: 100%;

  //select all the input into the this div
  input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #cbd5e1;
    font-size: 1.7rem;
    padding: 10px 0;
    transition: all .3s;

    &::placeholder {
      color: #64748b;
    }

    &:focus {
      outline: none;
      border-bottom-color: #00c6ff;
    }


  }

  //select all the error spans into the this div
  .errorSpan {
    background-color: #fef2f2;
    padding: .8rem;
    border-radius: .8rem;
    color: #ef4444;
    font-size: 1.4rem;
  }

  //select all the btn into the this div
  button {
    border: none;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    border-radius: 100px;
    width: 100%;
    padding: .5rem;
    font-size: 2rem;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3);


    &:hover {
      transform: translateY(-2px);
      /* Stronger shadow on hover */
      box-shadow: 0 6px 20px rgba(0, 123, 255, 0.4);
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 0 2px 10px rgba(0, 123, 255, 0.3);
    }

  }
}


//this is login form
.loginForm {
  display: none;
  flex-direction: column;
  gap: 1rem;
  //opacity: 0;
  //transform: translateX(-40px);

  //transition: all .5s;
  //opacity: 0;
  //transform: translateY(-5rem);
  //
  //&.formIn {
  //  opacity: 1;
  //  transform: translateY(0);
  //  display: flex;
  //}
  //
  //&.formOut {
  //  display: none;
  //  opacity: 0;
  //  transform: translateY(5rem);
  //}

  //login form inputs
  input {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    font-size: 1.7rem;
  }

  input:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  //login form btn
  button {
    margin-top: 2rem;
  }

  //login form error span
  .errorSpan {
    margin-top: 2rem;
    margin-bottom: -1rem;
  }

  //login form forgot pass text
  .forgotPass {
    align-self: flex-end;
    text-decoration: none;
    color: #4facfe;
    margin-right: 5px;
    font-size: 1.2rem;

    &:hover {
      color: #007bff;
    }

  }
}

//this is sign up form
.signUpForm {
  display: none;
  flex-direction: column;
  gap: 2rem;
  //transition: all .5s;

  //transition: all .5s;
  //opacity: 0;
  //transform: translateY(-5rem);
  //
  //.formIn {
  //  opacity: 1;
  //  transform: translateY(0);
  //  display: flex;
  //}
  //
  //&.formOut {
  //  display: none;
  //  opacity: 0;
  //  transform: translateY(5rem);
  //}

  input {
    margin-bottom: .5rem;
    //margin-top: .5rem;
  }

  input:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  button {
    margin-top: 2rem;
  }

  .errorSpan {
    margin-top: .6rem;
    margin-bottom: -1rem;
  }
}

//.leftToRightAnimation {
//  animation: leftToRight .5s;
//}
//
//@keyframes leftToRight {
//  from {
//    opacity: 0;
//    transform: translateX(-50px);
//  }
//  to {
//    opacity: 1;
//    transform: translateX(0px);
//  }
//}
//
//.rightToLeftAnimation {
//  animation: rightToLeft .5s;
//}
//
//@keyframes rightToLeft {
//  from {
//    opacity: 1;
//    transform: translateX(0);
//  }
//  to {
//    opacity: 0;
//    transform: translateX(50px);
//  }
//}