:root {
  font-family: "Arimo", sans-serif;
  line-height: 1.5;
  font-weight: 700;
  font-size: 10px;

  //color-scheme: dark light;
  //color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Brand Colors */
  --primary-color: #2b8bf2;
  --primary-hover: #1f6dc4;
  --accent-color: #00f2fe;

  --bordre-white: #ffff;
  --border-light-gray: #e2e8f0;


  /* Backgrounds */
  --bg-gradient: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
  --surface-color: #ffffff;
  --input-bg: #f8f9fa;
  --bg-white: #ffffff;
  --bg-grey: rgb(241, 238, 238);

  /* Text */
  --text-main: #2d3748;
  --text-muted: #718096;
  --text-white: #ffffff;

  /* Shadows */
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.05);
  --shadow-card: 0 10px 20px rgba(0, 0, 0, 0.08);
  --shodow-blue: 0 6px 20px rgba(0, 123, 255, .2);


  //hover
  --hover-green: #19c512;
  --shadow-green: 0 2px 6px #19c512;
  --hover-red: rgba(255, 44, 44, 0.86);
  --shadow-orange: 0 2px 6px #f1845e;
  --hover-yello: #f8a04c;
}