@use 'home/navbar';
@use "home/startQuiz";
@use "root";
@use 'login';
@use "subjects/subjects";
@use "difficulty/difficulty";
@use "questions/questions";
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

.container {
  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(1px);
}

.hidden {
  display: none;
  visibility: hidden;
}

.active {
  display: flex;
  visibility: visible;
  opacity: 1;
  transform: translateX(0) translateY(0);
}

html {
  /* THIS IS THE MAGIC LINE */
  /* Default browser font is 16px. 62.5% of 16px = 10px. */
  /* So now: 1rem = 10px */
  font-size: 62.5%;
  //font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //font-family: 'Segoe UI', sans-serif;
  //font-family: 'Poppins', sans-serif;
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

body {
  background-color: #f0f4f8;
  color: var(--text-main);
  //font-size: 1.6rem;
}